*{
    padding: 0;
    margin:0;
    box-sizing: border-box;
}
//header
.container{
           .row{
           
        .col-lg-3{
            color:red;
            font-size: 55px;
            font-weight: bold;
            span{
                color:green;
            font-size:25px;
            font-weight: bold;
            }
        }
    }
    
}


.nav{
    background-color: gray;
    .container{
        
        .row{
                
    ul{
        
       
       
        list-style: none;
        display: flex;
        gap:15px;
       
    }
    li{
        a{
            text-decoration: none;
            padding: 10px;
            font-size: 25px;
            color:white;
            
            &:hover{
                color:rgb(103, 221, 0);
            }
        }
    }
    }
}
}
    .footer{
        height: 150px;
        background-color: black;
        .container{

            h1{
                color: white;
                text-align: center;
                line-height: 150px;
            }
        }
    }
.section{
    .container{
        .row{
            background-color: rgb(223, 223, 223);
            .col-lg-3{
               
                .head{
                    h3{
                        border-bottom: 1px solid gray;
                        color:rgb(241, 8, 8);
                        font-size:25px;
                        text-align: center;
                        font-weight: bold;
                    }
                }
            }
            .cat-item{
            ul{
                list-style: none;
                
                li{
                    // padding: 5px;
                    a{
                        color: black;
                        // padding: 5px;
                        font-size: 20px;
                        text-decoration: none;

                    }
                }

            }
        }
        }
    }
}